<div class="col-lg-8 col-12 mt-lg-0 mt-2 pe-0 row justify-content-lg-end">
    <div class="col-lg-8 col-12 m-0 pe-0">
        <div class="text-lg-end my-2">
            <div class="d-flex text-start mb-1">
                <label class="col-6" for="apiKey">API key:</label>
                <span class="col-6 text-end">
                    {{ $link := .Site.GetPage "/request/key" }}
                    <a href="{{ $link.Permalink }}" class="nav-link d-inline pe-0 poppins-light">
                        {{ i18n "need_key" }}
                    </a>
                </span>
            </div>
            <div class="text-start">
                <input type="text" class="form-control poppins-light" id="apiKey">
            </div>
        </div>
    </div>
</div>