<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ if .Title }}{{ .Title }} | Trebe{{ else }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Description }}">
    {{ $base := .Site.GetPage "/" }}
    <base href="{{ $base.Permalink }}">
    {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Page.Permalink }}">
    {{ end }}
    <link rel="alternate" hreflang="x-default" href="{{ .Page.Permalink }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="manifest" href="/site.webmanifest" crossorigin="anonymous">
    <meta name="theme-color" content="#031f46">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        crossorigin="anonymous">
    {{ $css := resources.Get "css/styles.css" | minify }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=228120305"></script>
    {{ $js := resources.Get "js/gtag.js" | minify }}
    <script src="{{ $js.Permalink }}"></script>
</head>