{{ define "main" }}
<div class="container mt-4 px-3 pt-lg-4 mb-lg-0 mb-5 pb-lg-0 pb-5">
    <h3 class="ms-2">
        {{ i18n "synthesis_text" }}
    </h3>
    <div class="row mt-4">
        <div class="col-12 row m-0">
            <div class="col-lg-4 col-12 mt-2">
                <label class="mb-1" for="model">{{ i18n "model" }}:</label>
                <select class="form-select" id="model" name="model">
                    <option value="mikel">{{ i18n "spanish" }} - Mikel</option>
                    <option value="laura">{{ i18n "spanish" }} - Laura</option>
                    <option value="nerea">{{ i18n "basque" }} - Nerea</option>
                </select>
            </div>
            {{- partial "apiKey.html" . -}}
        </div>
        <div class="col-12 row m-0">
            <div class="col-12 mt-3 row pe-0">
                <div class="col-lg-4 col-12 pe-0 mb-lg-0 mb-3">
                    <input class="form-control form-control-sm" type="text" name="output-name" id="output-name"
                        placeholder='{{ i18n "output_filename" }}'>
                    <label class="hidden-label" for="output-name">Output</label>
                </div>
                <div class="col-lg-4 col-12 ms-lg-3">
                    <div class="form-check mb-lg-0 mb-1">
                        <input class="form-check-input" type="radio" name="email-response" id="email-link"
                            value="email-link" checked>
                        <label class="form-check-label" for="email-link">
                            {{ i18n "send_link" }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="email-response" id="email-attachment"
                            value="email-attachment">
                        <label class="form-check-label" for="email-attachment">
                            {{ i18n "send_attachment" }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2 m-0 justify-content-center text-center" id="translationBoxes">
            <div class="col-lg-6 col-12 mt-2">
                <textarea class="col-12 rounded-3" id="inputText" name="inputText" rows="12"
                    placeholder='{{ i18n "input_text" }}'></textarea>
                <button type="button" class="btn m-1 mt-2 text-white" id="synthesisButton">
                    {{ i18n "generate" }}
                </button>
                <button type="button" class="btn m-1 mt-2 text-white" id="clearButton">
                    {{ i18n "clear" }}
                </button>
            </div>
            <div
                class="col-lg-6 col-12 row justify-content-center align-content-center p-0 ps-lg-5 m-0 mt-lg-0 mt-5 mb-lg-5">
                <div class="text-center mb-2">
                    <div id="loading">
                        <h3 class="mb-4">{{ i18n "loading" }}...</h3>
                    </div>
                    <div class="poppins-light" id="wait_email">
                        {{ i18n "we_synthesize_text" }} <span>{{ i18n "result_in_email" }}</span>.
                        <br>
                        <br>
                        {{ i18n "wait" }}
                    </div>
                </div>
                <div class="text-center mb-2 poppins-light" id="responseBad"></div>
            </div>
        </div>
    </div>
</div>
{{ end }}