{{ define "main" }}
<div class="container mt-4 px-3 pt-lg-4 mb-lg-0 mb-5 pb-lg-0 pb-5">
    <h3 class="ms-2">
        {{ i18n "request_key" }}
    </h3>
    <div class="row mt-4">
        <div class="row mt-3 m-0 justify-content-center">
            <form class="row justify-content-lg-start" action="https://api.staticforms.xyz/submit" method="post">
                <div class="col-lg-6 col-12 pe-lg-5">
                    <div class="text-start my-3">
                        <label class="mb-1" for="name">{{ i18n "name" }}:</label>
                        <input type="text" maxlength="64" class="form-control poppins-light " id="name" name="$name"
                            required>
                    </div>
                    <div class="text-start my-3">
                        <label class="mb-1" for="surname">{{ i18n "surname" }}:</label>
                        <input type="text" maxlength="128" class="form-control poppins-light" id="surname"
                            name="$surname" required>
                    </div>
                    <div class="text-start my-3">
                        <label class="mb-1" for="company">{{ i18n "company" }}:</label>
                        <input type="text" maxlength="64" class="form-control poppins-light" id="company"
                            name="$company" required>
                    </div>
                    <div class="text-start my-3">
                        <label class="mb-1" for="email">{{ i18n "email" }}:</label>
                        <input type="text" maxlength="128" class="form-control poppins-light" id="email" name="$email"
                            required>
                    </div>
                    <div class="text-start my-3">
                        <label class="mb-1" for="phone">{{ i18n "phone" }}:</label>
                        <input type="text" maxlength="64" class="form-control poppins-light" id="phone" name="$phone"
                            required>
                    </div>
                </div>
                <div class="col-lg-6 col-12 ps-lg-4">
                    <div class="text-start my-3">
                        <label class="mb-1" for="comments">{{ i18n "comments" }}:</label>
                        <textarea type="text" maxlength="8192" class="form-control poppins-light" id="comments"
                            name="$comments" placeholder='{{ i18n "comment_interest" }}' rows="12" required></textarea>
                    </div>

                    <input type="text" name="honeypot">
                    <input type="hidden" name="accessKey" value="b69ea341-099e-4479-bddb-ea7d2822ddbd">
                    <input type="hidden" name="subject" value="API key request">
                    <input type="hidden" name="replyTo" value="@">
                    <input type="hidden" name="redirectTo" value="https://demo.trebe.org/{{ .Language }}">

                    <div class="text-start my-3 text-center">
                        <button type="submit" class="btn mt-2 text-white" id="requestButton">{{ i18n "send" }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}