<nav class="navbar navbar-expand-lg bg-white position-sticky py-lg-2 py-1">
	<div class="container-fluid">
		{{ $base := .Site.GetPage "/" }}
		<a href="https://trebehome.github.io/recorder/es/transcripci%C3%B3n/online/" class="navbar-brand ms-lg-4 ms-2 me-lg-5">
			<img src="/img/trebe_logo.svg" width="140" height="63" class="img-fluid" alt="Logo">
		</a>
		<button class="navbar-toggler me-3" id="menu-button" type="button" data-bs-toggle="collapse"
			data-bs-target="#menu-options" aria-controls="menu-options" aria-expanded="false"
			aria-label="Toggle navigation">
			<div class="position-relative m-0" id="menu-icon">
				<span class="d-block position-absolute bg-dark opacity-100"></span>
				<span class="d-block position-absolute bg-dark opacity-100"></span>
				<span class="d-block position-absolute bg-dark opacity-100"></span>
				<span class="d-block position-absolute bg-dark opacity-100"></span>
			</div>
		</button>
		<div class="collapse navbar-collapse" id="menu-options">
			<ul class="navbar-nav ms-auto me-lg-4 text-center align-items-lg-center align-items-start">					
				<li class="nav-item px-lg-2 px-4 mb-lg-0 mb-3">
					<div class="dropdown text-start">
							<li>
								<a class="dropdown-item my-2" href="https://trebehome.github.io/record/">
									Volver a los demás servicios
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item d-flex justify-content-center align-items-center mx-4 mb-lg-0 mb-3">
					<select class="form-control text-dark text-uppercase" id="changeLang">
						<option selected>{{ .Lang }}</option>
						{{ range .Translations }}
						<option class="language" value="{{ .Permalink }}">{{ .Lang }}</option>
						{{ end }}
					</select>
				</li>
			</ul>
		</div>
	</div>
</nav>