<div class="col-lg-4 col-12 mt-2">
    <label class="mb-1" for="model">{{ i18n "model" }}:</label>
    <select class="form-select" id="model" name="model">
        <option value="es2eu">{{ i18n "es2eu" }}</option>
        <option value="eu2es">{{ i18n "eu2es" }}</option>
        <option value="eu2en">{{ i18n "eu2en" }}</option>
        <option value="en2eu">{{ i18n "en2eu" }}</option>
        <option value="eu2fr">{{ i18n "eu2fr" }}</option>
        <option value="fr2eu">{{ i18n "fr2eu" }}</option>
        <option value="es2en">{{ i18n "es2en" }}</option>
        <option value="en2es">{{ i18n "en2es" }}</option>
        <option value="es2fr">{{ i18n "es2fr" }}</option>
        <option value="fr2es">{{ i18n "fr2es" }}</option>
        <option value="es2ca">{{ i18n "es2ca" }}</option>
        <option value="ca2es">{{ i18n "ca2es" }}</option>
        <option value="es2gl">{{ i18n "es2gl" }}</option>
        <option value="gl2es">{{ i18n "gl2es" }}</option>
    </select>
</div>