{{ define "main" }}
<div class="container mt-4 px-3 pt-lg-4 mb-lg-0 mb-5 pb-lg-0 pb-5">
    <h3 class="ms-2">
        {{ i18n "translate_text" }}
    </h3>
    <div class="row mt-4">
        <div class="col-12 row m-0">
            {{- partial "model.html" . -}}
            {{- partial "apiKey.html" . -}}
        </div>
        <div class="row mt-3 m-0" id="translationBoxes">
            <div class="col-lg-6 col-12">
                <label for="inputText" class="hidden-label">Input</label>
                <textarea class="col-12 rounded-3" id="inputText" name="inputText" rows="12"
                    placeholder='{{ i18n "input_text" }}'></textarea>
            </div>
            <button type="button" class="btn m-1 mt-lg-3 pt-2" id="swapLanguages" aria-label="swapLanguages">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                    class="bi bi-arrow-left-right mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                </svg>
            </button>
            <div class="col-lg-6 col-12">
                <label for="outputText" class="hidden-label">Output</label>
                <textarea class="col-12 rounded-3" id="outputText" rows="12" disabled></textarea>
                <button type="button" class="btn bg-light text-center" id="clipboard" aria-label="clipboard"
                    data-bs-toggle="tooltip" data-bs-trigger="focus" title='{{ i18n "clipboard_copy" }}'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-files" viewBox="0 0 16 16">
                        <path
                            d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                    </svg>
                </button>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn m-1 mt-2 text-white" id="translateButton" aria-label="translateButton">
                    {{ i18n "make_translation" }}
                </button>
                <button type="button" class="btn m-1 mt-2 text-white" id="clearButton" aria-label="clearButton">
                    {{ i18n "clear" }}
                </button>
            </div>
        </div>
    </div>
</div>
{{ end }}